*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}


.main{
    background-image: url(drew-coffman-1872.jpg);
    background-repeat: no-repeat;
    height: 1440px;
    background-size: cover;
   
}

.main img{
    position: absolute;
    left: 100px;
}

.list{
    list-style: none;
    position: absolute;
    right: 150px;
    top: 30px;
}

.list ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.list ul li {
    text-decoration: none;
    list-style: none;
    color: azure;
}

.list ul li a{
    color: azure;
    justify-content: space-around;
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
}

.welcome{
    position: absolute  ;
    top: 570px;
    left: 200px;
    font-size: 80px;
    text-align: center;
    color: azure;
}

.welcome h2{
    font-size: 40px;
    margin: 20px;
}

.welcome p{
    font-size: 30px;
    margin: 40px;
}

.welcome button{
    width: 160px;
    height: 60px;
    border-radius: 6px;
    border: none;
}

.learn-more{
    background: none;
    color: rgb(215, 248, 96);
}

.section2{
    background-color: azure;
    height: 900px;
}

.section2 img{
    float: left;
    position: relative;
    left: 60px;
    bottom: -60px;
}

.a3{
    position: absolute;
    height: 100px;
    width: 600px;
    right: 40px;
    bottom: -900px;
    line-height: 25px;
}

.a3 h1{
    margin: 20px;
}

.section3{
    background-color: rgba(225, 227, 216, 0.955);
    height: 900px;
    position: relative;
}

.contact3 img{
    float: right;
    position: absolute;
    bottom: 200px;
    right: 80px;
}

.cr{
    height: 200px;
    width: 500px;
    line-height: 40px;
    position: absolute;
    top: 200px;
    left: 70px;
    font-size: large;
}

.font-1{
    height: 900px;
    text-align: center  ;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;

}

.all-img{
    display: flex;
    position: absolute;
    top: 3400px;
    height: 1000px;
    right: 20px;
}


.note{
    padding: 60px;
    
}

